<!DOCTYPE html>
<h1>Enter New Estimate</h1>

<form method='POST' action='/estimates'>
    <label for='project_id'>Project ID:</label>
    <input type='number' name='project_id'><br><br>

    <label for='submission_title'>Submission Title:</label>
    <input type='text' name='submission_title'><br><br>

    <label for='revision'>Revision:</label>
    <input type='text' name='revision'><br><br>

    <label for='scheme'>Scheme:</label>
    <input type='text' name='scheme'><br><br>

    <label for='sector'>Sector:</label>
    <input type='text' name='sector'><br><br>

    <label for='industry'>Indsutry:</label>
    <input type='text' name='industry'><br><br>

    <label for='labor_status'>Labor Status:</label>
    <input type='text' name='labor_status'><br><br>

    <label for='tax_status'>Tax Status:</label>
    <input type='text' name='tax_status'><br><br>

    <label for='icap'>ICAP:</label>
    <input type='text' name='icap'><br><br>

    <label for='site_acerage'>Site Acerage:</label>
    <input type='text' name='site_acerage'><br><br>

    <label for='gsf'>GSF:</label>
    <input type='text' name='gsf'><br><br>

    <label for='estimate_type'>Estimate Type:</label>
    <input type='text' name='estimate_type'><br><br>

    <label for='design_phase'>Design Phase:</label>
    <input type='text' name='design_phase'><br><br>

    <label for='result'>Result:</label>
    <input type='text' name='result'><br><br>
    
    <input type='submit' value='Create Estimate'>    
<html>