<!DOCTYPE html>
<h1>Enter New Summary</h1>

<form method='POST' action='/summaries'>
    <h3>Enter 0 for items not included</h3><br>
    <label for='estimate_id'>Estimate ID:</label>
    <input type='number' name='estimate_id'><br><br>

    <label for='demolition'>Demolition:</label>
    <input type='number' name='demolition'><br><br>

    <label for='abatement'>Abatement:</label>
    <input type='number' name='abatement'><br><br>

    <label for='fencing'>Fencing:</label>
    <input type='number' name='fencing'><br><br>

    <label for='sitework'>Sitework:</label>
    <input type='number' name='sitework'><br><br>

    <label for='waterfront_access_and_bulkhead'>
        Waterfront Access & Bulkhead:</label>
    <input type='number' name='waterfront_access_and_bulkhead'><br><br>

    <label for='site_concrete'>Site Concrete:</label>
    <input type='number' name='site_concrete'><br><br>

    <label for='asphalt_paving_and_striping'>
        Asphalt Paving & Striping:</label>
    <input type='number' name='asphalt_paving_and_striping'><br><br>

    <label for='landscaping'>Landscaping:</label>
    <input type='number' name='landscaping'><br><br>

    <label for='piles'>Piles:</label>
    <input type='number' name='piles'><br><br>

    <label for='ground_improvements'>Ground Improvements:</label>
    <input type='number' name='ground_improvements'><br><br>

    <label for='concrete'>Concrete:</label>
    <input type='number' name='concrete'><br><br>

    <label for='precast_concrete_panels'>Precast Concrete Panels:</label>
    <input type='number' name='precast_concrete_panels'><br><br>

    <label for='masonry'>Masonry:</label>
    <input type='number' name='masonry'><br><br>

    <label for='structural_steel'>Structural Steel:</label>
    <input type='number' name='structural_steel'><br><br>

    <label for='miscellaneous_metals'>Miscellaneous Metals:</label>
    <input type='number' name='miscellaneous_metals'><br><br>

    <label for='millwork'>Millwork:</label>
    <input type='number' name='millwork'><br><br>

    <label for='eifs'>EIFS:</label>
    <input type='number' name='eifs'><br><br>

    <label for='roofing'>Roofing:</label>
    <input type='number' name='roofing'><br><br>

    <label for='thermal_and_moisture_protection'>
        Thermal and Moisture Protection:</label>
    <input type='number' name='thermal_and_moisture_protection'><br><br>

    <label for='metal_panels'>Metal Panels:</label>
    <input type='number' name='metal_panels'><br><br>

    <label for='prefab_facade_mega_panels'>
        Prefab Facade Mega Panels:</label>
    <input type='number' name='prefab_facade_mega_panels'><br><br>

    <label for='applied_fireproofing'>Applied Fireproofing:</label>
    <input type='number' name='applied_fireproofing'><br><br>

    <label for='doors_frames_and_hardware'>
        Doors Frames, and Hardware:</label>
    <input type='number' name='doors_frames_and_hardware'><br><br>

    <label for='overhead_doors'>Overhead Doors:</label>
    <input type='number' name='overhead_doors'><br><br>

    <label for='glass_and_glazing'>Glass and Glazing:</label>
    <input type='number' name='glass_and_glazing'><br><br>

    <label for='carpentry_and_drywall'>Carpentry and Drywall:</label>
    <input type='number' name='carpentry_and_drywall'><br><br>

    <label for='tile'>Tile:</label>
    <input type='number' name='tile'><br><br>

    <label for='flooring'>Flooring:</label>
    <input type='number' name='flooring'><br><br>

    <label for='paint_and_wallcovering'>Paint and Wallcovering:</label>
    <input type='number' name='paint_and_wallcovering'><br><br>

    <label for='signage'>Signage:</label>
    <input type='number' name='signage'><br><br>

    <label for='divsion_10_specialties'>Division 10 Specialties:</label>
    <input type='number' name='division_10_specialties'><br><br>

    <label for='loading_dock_equipment'>Loading Dock Equipment:</label>
    <input type='number' name='loading_dock_equipment'><br><br>

    <label for='kitchen_equipment'>Kitchen Equipment:</label>
    <input type='number' name='kitchen_equipment'><br><br>

    <label for='operable_partitions'>Operable Partitions:</label>
    <input type='number' name='operable_partitions'><br><br>

    <label for='vertical_transportation'>Vertial Transportation:</label>
    <input type='number' name='vertical_transportation'><br><br>

    <label for='fire_supression'>Fire Suppression:</label>
    <input type='number' name='fire_supression'><br><br>

    <label for='hvac'>HVAC:</label>
    <input type='number' name='hvac'><br><br>

    <label for='plumbing'>Plumbing:</label>
    <input type='number' name='plumbing'><br><br>

    <label for='electric'>Electric:</label>
    <input type='number' name='electric'><br><br>

    <label for='final_cleaning'>Final Cleaning:</label>
    <input type='number' name='final_cleaning'><br><br>

    <label for='general_requirements'>General Requirements:</label>
    <input type='number' name='general_requirements'><br><br>

    <label for='site_safety'>Site Safety:</label>
    <input type='number' name='site_safety'><br><br>

    <label for='site_security'>Site Security:</label>
    <input type='number' name='site_security'><br><br>

    <label for='contingency_pct'>Contingency Percentage:</label>
    <input type='text' name='contingency_pct'><br><br>

    <label for='sdi_pct'>Subcontractor Default Insurance Percentage:</label>
    <input type='text' name='sdi_pct'><br><br>

    <label for='general_conditions_pct'>General Conditions Percentage:</label>
    <input type='text' name='roofing'><br><br>

    <label for='fee_pct'>Fee Percentage:</label>
    <input type='text' name='fee_pct'><br><br>

    <label for='insurance_pct'>Insurance Percentage:</label>
    <input type='text' name='insurance_pct'><br><br>

    <input type='submit' value='Create Summary'>  
<html>