<!DOCTYPE html>
<h1>Projects</h1>
<h2></h2>

<ul><% @projects.each do |p|%>
    <a href = '/projects/<%= "#{p.id}" %> '><li><%= p.estimating_number +
         " - " + p.project_title %></li></a>
<% end %></ul>

<br><br>
<a href='/projects/new'>Create New Project</a>

</html>