<!DOCTYPE html>
<h1>Projects</h1>

<ul><% @projects.each do |p|%>
    <li><%= p.estimating_number + " - " + p.project_title %></li>
<% end %></ul>

<br><br>
<a href='/projects/new'>Create New Project</a>



</html>