<!DOCTYPE html>
<h1>Enter New Project</h1>
<h2></h2>
<h3 style="color:red"><%= @errors %><h3>
<form method='POST' action='/projects'>
    <label for='estimating_number'>Estimating Number:</label>
    <input type='text' name='estimating_number'><br><br>
    <label for='project_title'>Project Title:</label>
    <input type='text' name='project_title'><br><br>
    <label for='address'>Address:</label>
    <input type='text' name='address'><br><br>
    <label for='city'>City:</label>
    <input type='text' name='city'><br><br>
    <label for='state_abbrv'>State:</label>
    <input type='text' name='state_abbrv'><br><br>
    <label for='zip'>Zip:</label>
    <input type='text' name='zip'><br><br>
    <!--<label for='zip'>No Site:</label>
    <input type='text' name='no_site' value='N'><br><br>-->
    <input type='submit' value='Create Project'>
<html>